.cart {
  display: none;
  padding: 0px 20px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  z-index: 999;
  overflow-y: scroll;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  align-items: center;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all .3s ease;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

@media screen and (max-width: 500px) {
  .cart {
    width: 100%;
    padding: 0px;
  }

  .cart li {
    margin-bottom: 20px;
  }

  .cart img {
    width: 70%;
  }
}